Os dados abaixo são referente a alturas em cm de 20 alunos:

![table 01.jpg](assets/table01.jpg)

Construa a distribuição de frequências por classes de valores colocando o _fi_, _fa_, _fr_ e _fra_.

In [30]:
import pandas as pd
import numpy as np

In [31]:
data = [151, 157, 158, 156, 160,
        176, 150, 149, 162, 153,
        163, 170, 172, 171, 164,
        173, 166, 165, 160, 158]

## Cálculo para _fi_

In [32]:
amplitude_maxima = max(data) - min(data)  # 176 - 149
amplitude_maxima

27

In [33]:
faixa_classes = amplitude_maxima / 3  # o 3 é a largura_classe
faixa_classes

9.0

In [34]:
a = np.arange(min(data), max(data) + 1, faixa_classes)
a[0] = a[0] - 1
a

array([148., 158., 167., 176.])

In [35]:
classes = pd.cut(data, bins=a, labels=['149 |-- 158', '158 |-- 167', '167 |-- 176']).value_counts().to_frame().reset_index()
classes.columns = ['Alturas em cm', 'fi']

In [36]:
classes['fa'] = classes['fi'].cumsum()

In [37]:
classes['fr'] = classes['fi'] / classes['fi'].sum() * 100

In [38]:
classes['fra'] = classes['fr'].cumsum()

In [39]:
classes

  Alturas em cm  fi  fa    fr    fra
0   149 |-- 158   8   8  40.0   40.0
1   158 |-- 167   7  15  35.0   75.0
2   167 |-- 176   5  20  25.0  100.0