Os dados abaixo são referente a alturas em cm de 20 alunos:

![table 01.jpg](assets/table01.jpg)

Construa a distribuição de frequências por classes de valores colocando o _fi_, _fa_, _fr_ e _fra_.

In [111]:
import pandas as pd
import numpy as np

In [112]:
data = [151, 157, 158, 156, 160,
        176, 150, 149, 162, 153,
        163, 170, 172, 171, 164,
        173, 166, 165, 160, 158]

In [113]:
amplitude_maxima = max(data) - min(data)  # 176 - 149
amplitude_maxima

27

In [114]:
faixa_classes = amplitude_maxima / 3  # o 3 é a largura_classe
faixa_classes

9.0

In [115]:
intervalos = np.arange(min(data), max(data) + 1, faixa_classes)
intervalos[0] = intervalos[0] - 1
intervalos

array([148., 158., 167., 176.])

### Cálculo para _fi_

In [116]:
df = pd.cut(data, bins=intervalos, labels=['149 |-- 158', '158 |-- 167', '167 |-- 176']).value_counts().to_frame().reset_index()
df.columns = ['Alturas em cm', 'fi']

### Cálculo para _fa_

In [117]:
df['fa'] = df['fi'].cumsum()

### Cálculo para _fr_

In [118]:
nums = df['fi'] / df['fi'].sum() * 100
df['fr'] = [f'{num}%' for num in nums]

### Cálculo para _fra_

In [119]:
df['fra'] = [f'{num}%' for num in nums.cumsum()]

### Display da tabela

In [120]:
df

  Alturas em cm  fi  fa     fr     fra
0   149 |-- 158   8   8  40.0%   40.0%
1   158 |-- 167   7  15  35.0%   75.0%
2   167 |-- 176   5  20  25.0%  100.0%